.text {
  color: var(--gray-color);
}

.text_weight_regular {
  font-weight: 400;
}

.text_weight_medium {
  font-weight: 500;
}

.text_weight_semiBold {
  font-weight: 600;
}

.text_weight_bold {
  font-weight: 700;
}

.text_family_poppins {
  font-family: 'Poppins', sans-serif;
}

.text_family_inter {
  font-family: 'Inter', sans-serif;
}

.text_family_manrope {
  font-family: 'Manrope', sans-serif;
}

.text_family_publicSans {
  font-family: 'PublicSans', sans-serif;
}

.text_style_italic {
  font-style: italic;
}

.text_style_normal {
  font-style: normal;
}

.text_size_tiny {
  font-size: 10px;
}

.text_size_small {
  font-size: 12px;
}

.text_size_xSmall {
  font-size: 14px;
}

.text_size_medium {
  font-size: 16px;
}

.text_size_xMedium {
  font-size: 18px;
}

.text_size_large {
  font-size: 20px;
}

.text_size_big {
  font-size: 42px;
}

.text_color_white {
  color: var(--white-color);
}

.text_color_dGray {
  color: var(--dark-gray-color);
}

.text_color_lavender {
  color: var(--lavander-color);
}

.text_color_sGray {
  color: var(--light-gray-color);
}

.text_color_black {
  color: var(--black-color);
}

.text_color_red {
  color: var(--red-color);
}

.text_color_aGray {
  color: var(--accent-gray-color);
}

.text_color_gray {
  color: var(--gray-color);
}

.text_color_textGray {
  color: var(--text-gray-color);
}

