.nav {
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  max-width: 1246px;
  padding-bottom: 35px;
  width: 100%;
}

.header {
  gap: 100px;
}

.footer {
  gap: 40px;
  justify-content: space-between;
}

@media (max-width: 1199px) {
  .nav {
    justify-content: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .nav {
    gap: 15px;
    padding-bottom: 15px;
    flex-wrap: wrap;
  }
}

@media (max-width: 640px) {
  .nav {
    padding-bottom: 10px;
  }
}

