.section {
  margin: 0 auto 160px;
  width: 100%;
}
.title {
  color: var(--main-color);
}

.wrapper {
  text-align: center;
  margin-bottom: 80px;
}

.slider {
  margin-left: 10vh;
}

.slider:hover {
  cursor: pointer;
}

@media (max-width: 1199px) {
  .section {
    gap: 40px;
    margin: 0 auto 80px;
    max-width: 90%;
  }
}
