.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

.text {
  background: linear-gradient(135deg, var(--dark-main-color), var(--light-yellow-color));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
